@media (min-width: 960px) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 1264px) {
  .container {
    max-width: 1185px;
  }
}
@media (min-width: 1904px) {
  .container {
    max-width: 1785px;
  }
}

.container {
  max-width: calc(1352px + (12px * 2)) !important;
  padding: 0 12px !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1352px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 920px) {
  .container {
    max-width: 96%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-right: -12px;
  margin-left: -12px;
}

@media (max-width: 920px) {
  .row {
    flex-direction: column;
  }
}

.l-3 {
  width: 25%;
  padding: 0 2rem;
}

@media (max-width: 920px) {
  .l-3 {
    width: 100%;
    padding: 0;
  }
}

.l-4 {
  width: 33.3333333333%;
  padding: 0 2rem;
}

@media (max-width: 920px) {
  .l-4 {
    width: 100%;
  }
}

.l-6 {
  width: 50%;
  padding: 0 2rem;
}

@media (max-width: 920px) {
  .l-6 {
    width: 100%;
  }
}

.l-12 {
  width: 100%;
  padding: 0 2rem;
}

@media (max-width: 920px) {
  .page-header.header-fixed {
    padding-bottom: 4.5rem;
  }
  .page-header.header-fixed .header-socials {
    display: none;
  }
}

@media (min-width: 920px) {
  .page-header .navigation-bar {
    padding-top: 70px;
  }
}

.page-header.header-fixed .main-navigation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 4;
  background: rgba(34, 37, 41, 0.8);
  -webkit-backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
  transition: top 0.2s linear;
}
.page-header.header-fixed .main-navigation-wrapper .main-navigation {
  max-width: calc(1352px);
  padding-right: 12px;
  margin: 0 auto;
}

.main-navigation-wrapper .main-navigation {
  display: flex;
  flex-direction: row;
}

.main-navigation-wrapper .main-navigation .navigation-menu {
  flex: 1 2;
}
@media (max-width: 920px) {
  .main-navigation-wrapper .main-navigation .navigation-menu {
    display: none;
  }
}
.main-navigation-wrapper .main-navigation .header-nav-socials {
  width: 240px;
  align-items: center;
  padding: 0 0.75rem 0 0;
  margin: -1.25rem 0 0 !important;
}
.main-navigation-wrapper .main-navigation .sign-up-dropdown {
  max-width: 11.25rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  margin-right: 0.4rem;
  margin-left: auto;
}
@media (max-width: 640px) {
  .main-navigation-wrapper
    .main-navigation
    .sign-up-dropdown
    .button-component {
    font-size: 10px;
    line-height: 12px;
    padding: 0.375rem 1rem;
  }
}
@media (max-width: 920px) {
  .main-navigation-wrapper .main-navigation .sign-up-dropdown {
    flex: 1;
  }
}
@media (max-width: 920px) {
  .main-navigation-wrapper.nav-open {
    background: #28262c !important;
  }
}

.bg-theme-primary[data-v-72ea3a74] {
  background-color: #28262c;
}
.bg-theme-secondary-dark[data-v-72ea3a74] {
  background-color: #232026;
}

.nav-list[data-v-72ea3a74] {
  display: flex;
}
.nav-list .nav-item[data-v-72ea3a74],
.nav-list .nav-item[data-v-72ea3a74]:hover {
  color: #ffffff;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  opacity: 0.7;
  cursor: pointer;
}
.nav-list .nav-item.active-link[data-v-72ea3a74] {
  position: relative;
  opacity: 1;
}
.nav-list .nav-item.active-link[data-v-72ea3a74]:after {
  content: '';
  position: absolute;
  display: block;
  background: #a481f0;
}
@media (max-width: 920px) {
  .nav-list .nav-item[data-v-72ea3a74] {
    display: flex;
    align-items: center;
    min-height: 3.375rem;
    margin: 0 0.6rem;
    opacity: 1;
    font-weight: normal;
  }
  .nav-list .nav-item.active-link[data-v-72ea3a74] {
    font-weight: bold;
  }
  .nav-list .nav-item.active-link[data-v-72ea3a74]:after {
    background: #c5abff;
  }
}
.nav-list.nav-primary[data-v-72ea3a74] {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-list.nav-primary .nav-item[data-v-72ea3a74] {
  font-size: 12px;
  padding: 22px 20px;
}
.nav-list.nav-primary .nav-item[data-v-72ea3a74]:last-child {
  margin-right: 1rem;
}
.nav-list.nav-primary .nav-item.active-link[data-v-72ea3a74]:after {
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
}
.nav-list[data-v-72ea3a74]:not(.nav-primary) {
  flex-direction: column;
  align-items: flex-start;
}
.nav-list:not(.nav-primary) .nav-item[data-v-72ea3a74] {
  font-size: 16px;
  line-height: 34px;
}
.nav-list:not(.nav-primary) .nav-item.active-link[data-v-72ea3a74]:after {
  left: -14px;
  top: 16px;
  height: 24px;
  width: 2px;
  border-radius: 0 8px 8px 0;
}
@media (min-width: 920px) and (max-width: 1080px) {
  .nav-list.nav-primary .nav-item[data-v-72ea3a74] {
    padding: 20px 10px;
  }
}

.nav-list.nav-primary[data-v-72ea3a74] {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-list.nav-primary .nav-item[data-v-72ea3a74]:last-child {
  margin-right: 1rem;
}
.nav-list.nav-primary .nav-item.active-link[data-v-72ea3a74]:after {
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
}
.nav-list[data-v-72ea3a74]:not(.nav-primary) {
  flex-direction: column;
  align-items: flex-start;
}
.nav-list:not(.nav-primary) .nav-item[data-v-72ea3a74] {
  font-size: 16px;
  line-height: 34px;
}
.nav-list:not(.nav-primary) .nav-item.active-link[data-v-72ea3a74]:after {
  left: -14px;
  top: 16px;
  height: 24px;
  width: 2px;
  border-radius: 0 8px 8px 0;
}
@media (min-width: 920px) and (max-width: 1080px) {
  .nav-list.nav-primary .nav-item[data-v-72ea3a74] {
    padding: 20px 10px;
  }
}

.page-footer {
  padding: 6.5rem 0 4.25rem;
}
.page-footer .logotype-wrapper a {
  display: inline-block;
}
.page-footer .links-bar a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding-left: 6px;
}
.page-footer .links-bar a:not(:last-child):after {
  content: '●';
  position: relative;
  top: -3px;
  left: -2px;
  font-size: 6px;
  padding-left: 8px;
}
.page-footer .footer-socials {
  justify-content: center;
  padding: 0.5rem 0 0;
}
@media (min-width: 640px) {
  .page-footer .logotype-wrapper svg {
    transform: scale(2.65);
  }
  .page-footer .links-bar {
    padding-top: 5rem;
  }
}
@media (max-width: 920px) {
  .page-footer {
    padding: 4rem 0 2.75rem;
  }
  .page-footer .logotype-wrapper svg {
    transform: scale(2);
  }
  .page-footer .links-bar {
    padding-top: 2rem;
  }
  .page-footer .links-bar a {
    font-size: 12px;
    line-height: 20px;
  }
  .page-footer .links-bar a:not(:last-child):after {
    top: -2.5px;
    font-size: 5px;
  }
}

.bg-theme-secondary-dark[data-v-314f53c6] {
  background-color: #232026;
}

.page-footer .footer-socials {
  justify-content: center;
  padding: 0.5rem 0 0;
}
@media (min-width: 640px) {
  .page-footer .logotype-wrapper svg {
    transform: scale(2.65);
  }
  .page-footer .links-bar {
    padding-top: 5rem;
  }
}
@media (max-width: 920px) {
  .page-footer {
    padding: 4rem 0 2.75rem;
  }
  .page-footer .logotype-wrapper svg {
    transform: scale(2);
  }
  .page-footer .links-bar {
    padding-top: 2rem;
  }
  .page-footer .links-bar a {
    font-size: 12px;
    line-height: 20px;
  }
  .page-footer .links-bar a:not(:last-child):after {
    top: -2.5px;
    font-size: 5px;
  }
}

.page-introduction {
  padding-top: 7rem;
}

@media (max-width: 640px) {
  .page-introduction {
    padding: 2.5rem 0;
  }
}

@media (min-width: 640px) {
  .page-introduction .intro-title {
    min-height: 7.5rem;
  }
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-style: normal;
  transition: font-size 0.25s ease-in-out;
  font-size: 96px;
  line-height: 100px;
  color: white;
}

@media (max-width: 1352px) {
  h1 {
    font-size: 60px;
    line-height: 76px;
  }
}

@media (max-width: 920px) {
  h1 {
    font-size: 48px;
    line-height: 60px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
}
