@media (min-width: 960px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1264px) {
  .container {
    max-width: 1185px;
  }
}

@media (min-width: 1904px) {
  .container {
    max-width: 1785px;
  }
}

.container {
  max-width: calc(1352px + (12px * 2)) !important;
  padding: 0 12px !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (max-width: 1352px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 920px) {
  .container {
    max-width: 96%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-right: -12px;
  margin-left: -12px;
}

@media (max-width: 920px) {
  .row {
    flex-direction: column;
  }
}

.l-3 {
  width: 25%;
  padding: 0 2rem;
}

@media (max-width: 920px) {
  .l-3 {
    width: 100%;
    padding: 0;
  }
}

.l-4 {
  width: 33.3333333333%;
  padding: 0 2rem;
}

@media (max-width: 920px) {
  .l-4 {
    width: 100%;
  }
}

.l-6 {
  width: 50%;
  padding: 0 2rem;
}

@media (max-width: 920px) {
  .l-6 {
    width: 100%;
  }
}

.l-12 {
  width: 100%;
  padding: 0 2rem;
}

@media (min-width: 920px) {
  .page-header .navigation-bar {
    padding-top: 70px;
  }
}

.main-navigation-wrapper .main-navigation {
  display: flex;
  flex-direction: row;
}

.page-introduction {
  padding-top: 7rem;
}

@media (max-width: 640px) {
  .page-introduction {
    padding: 2.5rem 0;
  }
}

@media (min-width: 640px) {
  .page-introduction .intro-title {
    min-height: 7.5rem;
  }
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-style: normal;
  transition: font-size 0.25s ease-in-out;
  font-size: 96px;
  line-height: 100px;
  color: white;
}

@media (max-width: 1352px) {
  h1 {
    font-size: 60px;
    line-height: 76px;
  }
}

@media (max-width: 920px) {
  h1 {
    font-size: 48px;
    line-height: 60px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
}
